<nav class="border-b border-pink-300 border-opacity-25 bg-pink-600 lg:border-none">
    <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
        <div class="relative flex h-16 items-center justify-between lg:border-b lg:border-pink-400 lg:border-opacity-25">
            <div class="flex items-center px-2 lg:px-0">
                <div class="flex-shrink-0">
                    <img class="block h-8 w-8 rounded-full" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
                         alt="Your Company">
                </div>
                <div class="hidden lg:ml-10 lg:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-pink-700 text-white", Default: "text-white hover:bg-pink-500 hover:bg-opacity-75" -->
                        {% set items = ['homepage', 'characters', 'episodes', 'locations'] %}
                        {% for item in items %}
                            {% include 'parts/navigation-item.html.twig' with {'href': item} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex flex-1 justify-center px-2 lg:ml-6 lg:justify-end">
                <div class="w-full max-w-lg lg:max-w-xs">
                    {% include 'parts/dimension-search.html.twig' %}
                </div>
            </div>
            <div class="flex lg:hidden">
                <!-- Mobile menu button -->
                <button type="button"
                        class="relative inline-flex items-center justify-center rounded-md bg-pink-600 p-2 text-pink-200 hover:bg-pink-500 hover:bg-opacity-75 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-pink-600"
                        aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <!-- Menu open: "hidden", Menu closed: "block" -->
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                    <!-- Menu open: "block", Menu closed: "hidden" -->
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="lg:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-pink-700 text-white", Default: "text-white hover:bg-pink-500 hover:bg-opacity-75" -->
            <a href="#" class="bg-pink-700 text-white block rounded-md py-2 px-3 text-base font-medium"
               aria-current="page">Dashboard</a>

            {% set items = ['homepage', 'characters', 'episodes', 'locations'] %}
            {% for item in items %}
                <a href="{{ path(item) }}"
                   class="text-white hover:bg-pink-500 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium">
                    {{ item|capitalize }}
                </a>
            {% endfor %}
        </div>

    </div>
</nav>